<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>
	<div>
		<p th:if="${error != null}" th:text=${error}></p>
	</div>
	<div>
		<form th:action="@{/users/login}" th:object="${user}" method="POST">
			<table>
				<tr>
					<td><label th:text="Username"> </label></td>
					<td><input type="text" th:field="*{username}"
						placeholder="Username" /></td>
				</tr>
				<tr>
					<td><label th:text="Password"> </label></td>
					<td><input type="text" th:field="*{password}"
						placeholder="Password" /></td>
				</tr>
			</table>
			<button type="submit" th:text="'Log in'"></button>
		</form>
	</div>
</body>
</html>